<br>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook f-s"></i>
            <i class="fa-brands fa-square-instagram f-s"></i>
            <i class="fa-brands fa-youtube f-s"></i>
            <i class="fa-brands fa-square-x-twitter f-s"></i>

        </div>
    <div class="f-info-brand">&copy;Travel-Mate Rentals</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer>